<header class="header">
  <nav class="navbar">
    <div class="navbar__container container">
      <div class="navbar__left">
        <a href="index.html" class="navbar__logo">
          <img
            src="assets/logo/logo_icon.svg"
            alt="Jimmy Halvardsson Mountain Guide"
            class="navbar__logo-img"
          />
        </a>
        <div class="navbar__menu-toggle">
          <span class="navbar__menu-bar"></span>
          <span class="navbar__menu-bar"></span>
          <span class="navbar__menu-bar"></span>
        </div>
        <div class="navbar__links">
          <a href="about.html" class="navbar__link" data-nav-link="about"
            >About</a
          >
          <a href="services.html" class="navbar__link" data-nav-link="services"
            >Services</a
          >
          <a href="articles.html" class="navbar__link" data-nav-link="articles"
            >Articles</a
          >
          <a href="contact.html" class="navbar__link" data-nav-link="contact"
            >Contact</a
          >
          <!-- Mobile only button -->
          <a href="contact.html" class="btn btn--primary navbar__mobile-btn"
            >Get in Touch</a
          >
        </div>
      </div>
      <div class="navbar__right">
        <a href="contact.html" class="btn btn--primary">Get in Touch</a>
      </div>
    </div>
  </nav>
</header>
